* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  user-select: none;
  font-size: 20px;
  text-align: center;
}
h1 {
  font-size: 25px;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 15px;
}
button {
  width: 100px;
  height: 40px;
}
.counter-view {
  display: inline-block;
  margin: 20px;
  font-weight: bold;
}