body {
  font-family: sans-serif;
  background-color: rgb(246, 246, 246);
}
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 30px;
}
.count-wrap {
  display: flex;
  align-items: center;
}
button {
  font-size: 24px;
  width: 40px;
  height: 40px;
}
span {
  display: block;
  font-weight: bold;
  font-size: 24px;
  padding: 30px;
}
